# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# msbuild output directories
bin
!bin/Debug/*.zip
obj
out

node_modules

env.json
npm-debug.log
package-lock.json
